*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

/* shared styles */
.font-2{
    font-family: "Inter", sans-serif;
}

.txt-white{
    color: white;
}
.txt-red{
    color: #ff0000;
}

.txt-center{
    text-align: center;
}
.itm-center{
    align-items: center;
}

/* main section */
main{
    width: 82.5%;
    margin: 0 auto 0 auto;
}

/* banner-1 section styles */
.b1-section{
    padding: 177px 344px;
    margin: 50px auto 120px auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.b1-subtitle{
    font-size: 32px;
    margin-bottom: 16px;
}
.b1-title{
    font-size: 72px;
    font-weight: 900;
}

/* banner-2 section styles */
.b2-section{
    margin-bottom: 120px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.b2-title{
    font-size: 88px;
    margin-bottom: 48px;
}
.b2-sub-title{
    font-size: 24px;
    margin-bottom: 16px;
}
.b2-sub-title-2{
    font-size: 48px;
    margin-bottom: 48px;
}

/* banner-3 section styles */
.b3-section{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 120px;
    margin-bottom: 120px;
    align-items: center;
}
.b3-content{
    width: 60%;
}
.b3-title{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}
.b3-text{
    font-size: 18px;
    font-weight: 400;
    opacity: .8;
    margin-bottom: 48px;
}
.b3-btn{
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}

/* banner-4 section styles */
.b4-section{
    background-image: linear-gradient(#ff000010,#ff000000);
    padding: 100px 380px;
    border-radius: 16px;
    margin-bottom: 120px;
}
.b4-text{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}
.b4-btn{
    background-color: #ff0000;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 700;
